{"filter":false,"title":"settings-view.styl","tooltip":"/Producktiviti/padlock/src/components/settings-view/settings-view.styl","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1420915672401,"hash":"a5a3e96270783a8bce5002a68da5699b936ed519"}